<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-7">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" #nameInput>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" #amountInput>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button type="submit" class="btn btn-success btn-block" (click)="onAddItem()">Add</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-danger btn-block">Delete</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary btn-block">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
